# This file controls the settings for your Quarto template from www.marvinschmitt.com

# website settings


project:
  type: website
  output-dir: docs
  preview: 
    port: 22222
    browser: true
    watch-inputs: true
    navigate: true

website:
  title: "SoftData Consult"                                # Your name
  description: "I am a Data Analyst, Trainer, and Consultant specializing in Python, R, Stata, and more."   # A brief slogan (optional)
  image: img/seyi_pix.jpg
  
  favicon: img/logo-new.png
  
  # start of the navigation bar at the top of the website
  navbar:
    pinned: true
    logo: /img/logo-new.png
    background: dark
    
    # your sub-pages
    left:
      - text: "Home"
        href: index.qmd
      - text: "Data Analytics"
        href: data_analytics/index.qmd
     # - text: "Trainings"
       # href: trainings/index.qmd
      - text: "Blog"
        href: blog/index.qmd 
      - text: "CV"
        href: cv/index.qmd
      - text: "Projects"
        menu:
       # - text: "Multiple ANN output nodes in R"
       #   href: https://rpubs.com/seyi/859505
        - text: "Relative Importance Index"
          href: https://softdataconsult.shinyapps.io/rii_shinyapp
       # - text: "Multiple plots with same x axis"
       #   href: https://rpubs.com/seyi/Multiple_plots_with_same_x_axis
       # - text: "Mean plots using R"
       #   href: https://rpubs.com/seyi/782781
        - text: "Simple Linear Regression"
          href: https://softdataconsult.shinyapps.io/regression_shinyapp 
        - text: "Multiple Linear Regression"
          href: https://softdataconsult.shinyapps.io/multiple_regression
        - text: "One-sample mean t-test"
          href: https://sotfdataconsult.shinyapps.io/one-sample_mean_t-test
        - text: "Two-sample mean t-test"
          href: https://softdataconsult.shinyapps.io/t-test/
    
    
    # your social media handles
    right:
      - icon: youtube
        href: https://www.youtube.com/@softdataconsult
      - icon: twitter
        href: https://twitter.com/seyiajao
      - icon: github
        href: https://github.com/softdataconsult/softdataconsult.github.io/
      - icon: linkedin
        href: https://www.linkedin.com/in/isaac-oluwaseyi-ajao-datascientist-dataanalyst-statistician-consultant/
      - icon: envelope
        aria-label: email
        href: "mailto:mail.isaacoluwaseyiajao@gmail.com"  
  
  

# Don't touch unless you know what you are doing :) ------------
  search: 
    location: navbar
    type: textbox
  page-footer: 
    left: |
      <span class="faux-block">{{< fa brands creative-commons >}} 2025 SoftData Consult</span>
      <span class="faux-block"><a href="https://github.com/softdataconsult/softdataconsult.github.io">{{< fa brands github >}} Source Code</a></span>
    center: |
     <span class="faux-block">{{< fa brands orcid >}} <strong>ORCID</strong> [0000-0002-3403-6082](https://orcid.org/0000-0002-3403-6082)</span>
    right: |
      <span class="faux-block"> Designed and built with</span>
      <span class="faux-block"><a href="https://www.r-project.org/">R</a> and <a href="https://quarto.org/">Quarto</a></span>


execute:
  freeze: auto

format:  
  html:
    fontsize: 1.1em
    theme:  
      - pulse
      - html/styles.scss
    toc: false
    code-link: true
    anchor-sections: true
    fig-cap-location: margin
    reference-location: margin
    footnotes-hover: true